# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Env files
.env
.env.local

# Node
node_modules/
dist/
.vite/

# Local demo datasets
data/synthea_csv/*.csv
!data/synthea_csv/.gitkeep

# IDE
.vscode/
.idea/
.DS_Store
